.not-found-container {
    margin-top: 100px;
}

.not-found-container h1 {
    font-size: 10rem;
    font-weight: bold;
}

.not-found-container h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.not-found-container p {
    font-size: 1.25rem;
    margin-bottom: 30px;
}